#intro {
  width: 100%;
  display: flex;
  margin: auto;
}

.centre {
  text-align: center;
}

.box {
  margin: auto;
  width: 100%;
  padding: 10px;
}

body {
  font-family: 'Montserrat';
  text-align: center;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat-Black';
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Light';
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #4c85ff;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #4c85ff;
}

/* Testimonial Section */

#testimonials {
  background-color: #4c85ff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #4c85ff;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */

/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/*--------------------------------------------*/
/* html,
body {
  margin: 0;
  overflow: hidden;
  background: black radial-gradient(#223d66, #000000);
} */

.mobile-sphere {
  animation: rot 18s linear infinite reverse;
  width: 100%;
  height: 3px;
  margin: auto;
  border-radius: 50%;
  transform-style: preserve-3d;
  transform-origin: center center;
}

.sphere {
  animation: rot 16s linear infinite reverse;
  width: 100%;
  height: 3px;
  margin: auto;
  border-radius: 50%;
  transform-style: preserve-3d;
  transform-origin: center center;
}

i_s {
  position: absolute;
  line-height: 333px;
  transform-style: preserve-3d;
  border-radius: 70%;
  backface-visibility: visible;
  box-shadow: 0 0 83.25px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 83.25px 0 rgba(255, 255, 255, 0.2);
}

.display-sphere {
  width: 333px;
  height: 333px;
}

.display-mobile-sphere {
  width: 210px;
  height: 210px;
}

i_s:nth-child(1) {
  transform: rotateY(11.25deg);
}

i_s:nth-child(2) {
  transform: rotateY(22.5deg);
}

i_s:nth-child(3) {
  transform: rotateY(33.75deg);
}

i_s:nth-child(4) {
  transform: rotateY(45deg);
}

i_s:nth-child(5) {
  transform: rotateY(56.25deg);
}

i_s:nth-child(6) {
  transform: rotateY(67.5deg);
}

i_s:nth-child(7) {
  transform: rotateY(78.75deg);
}

i_s:nth-child(8) {
  transform: rotateY(90deg);
}

i_s:nth-child(9) {
  transform: rotateY(101.25deg);
}

i_s:nth-child(10) {
  transform: rotateY(112.5deg);
}

i_s:nth-child(11) {
  transform: rotateY(123.75deg);
}

i_s:nth-child(12) {
  transform: rotateY(135deg);
}

i_s:nth-child(13) {
  transform: rotateY(146.25deg);
}

i_s:nth-child(14) {
  transform: rotateY(157.5deg);
}

i_s:nth-child(15) {
  transform: rotateY(168.75deg);
}

i_s:nth-child(16) {
  transform: rotateX(180deg);
}

i_s:nth-child(17) {
  transform: rotateX(191.25deg);
}

i_s:nth-child(18) {
  transform: rotateX(202.5deg);
}

i_s:nth-child(19) {
  transform: rotateX(213.75deg);
}

i_s:nth-child(20) {
  transform: rotateX(225deg);
}

i_s:nth-child(21) {
  transform: rotateX(236.25deg);
}

i_s:nth-child(22) {
  transform: rotateX(247.5deg);
}

i_s:nth-child(23) {
  transform: rotateX(258.75deg);
}

i_s:nth-child(24) {
  transform: rotateX(270deg);
}

i_s:nth-child(25) {
  transform: rotateX(281.25deg);
}

i_s:nth-child(26) {
  transform: rotateX(292.5deg);
}

i_s:nth-child(27) {
  transform: rotateX(303.75deg);
}

i_s:nth-child(28) {
  transform: rotateX(315deg);
}

i_s:nth-child(29) {
  transform: rotateX(326.25deg);
}

i_s:nth-child(30) {
  transform: rotateX(337.5deg);
}

i_s:nth-child(31) {
  transform: rotateX(348.75deg);
}

i_s:nth-child(32) {
  transform: rotateX(360deg);
}

@keyframes rot {
  to {
    transform: rotateY(360deg) rotateZ(360deg) rotateZ(360deg) rotateY(360deg)
      rotateZ(360deg);
  }
}
